

/*General */
/* html{    
  background:url('images/sun-2297961_1920.jpg') no-repeat;
  background-size: cover;
  height:100%;
} */



#feedback-page{
	text-align:center;
}


#form-news-main,
#form-registration-main{
	width:100%;
	/* float:left; */
	padding-top:0px;
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* height: calc(100vh - 217px); */
  min-height: 950px;
  position: relative;
}

#form-news-main.col-lg-6 {
	padding-right: 5px;
	padding-left: 5px;
}

#form-div {
	/* background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 400px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  border-radius: 7px; */
  
}



/* Icons ---------------------------------- */
.appnitro  .name{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.appnitro  .name:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

.appnitro  .email{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/ios-mail-unread.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.appnitro  .email:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

.appnitro  .comment{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.appnitro  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.appnitro  input:hover, .appnitro  textarea:hover,
.appnitro  input:focus, .appnitro  textarea:focus {
	background-color:#e6e6e6;
}

.button-blue{
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #00bccd;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #00bccd;
}


.button-pink{
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #fb688d;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.button-pink:hover{
	background-color: rgba(0,0,0,0);
	color: #fb688d;
}	
.appnitro_1  .submit:hover {
	color: #00bccd;
}

.appnitro_2  .submit:hover {
	color: #fb688d;
}
	
.ease {
	width: 0px;
	height: 90px;
	background-color: #fbfbfb;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/*Styles for small screens*/

@media  only screen and (max-width: 580px) {
	.form-div{
		width: 200px;
	float: right;
		padding: 0;
		left: 75%;
		/* left: 0%;
		margin-right: auto;
		width: 88%;
		margin-left: auto;
		padding-left: 0%;
		padding-right: 0%; */
	}
}

